@mixin makeItCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin BodySet ( $ff, $fs, $fw, $lh) {
    font-family: "Montserrat";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color:#000;
}

@mixin FontSetting ($fs, $fw, $lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin GlobalBtnSet ($brr, $br) {
    border-radius: 100px;
    border: 2px solid;
}