// Variables for dark mode
$dark-primary-color: #299764; // Green (buttons, highlights)
$dark-secondary-color: #ffffff; // White (text on dark backgrounds)
$dark-background-color: #121212; // Dark background
$dark-card-background-color: #1e1e1e; // Card background
$dark-text-color: #dfe6e9; // Light text color
$dark-muted-text-color: #272727; // Muted text (secondary text)
$dark-border-color: #2d2d2d; // Border for cards and sections
$dark-hover-color: #019a76; // Button hover effect
$dark-link-color: #74b9ff; // Link color
$dark-footer-background: #181818; 
$dark-body-background: #1c1c1c;// Footer background

// Variables for light mode
$light-primary-color: #299764; // Green (buttons, highlights)
$light-secondary-color: #000000; // Black (text on light backgrounds)
$light-background-color: #ffffff; // White background
$light-card-background-color: #f9f9f9; // Card background
$light-text-color: #2d3436; // Dark text color
$light-muted-text-color: #f5f5f5; // Muted text (secondary text)
$light-border-color: #e0e0e0; // Border for cards and sections
$light-hover-color: #019a76; // Button hover effect
$light-link-color: #0984e3; // Link color
$light-footer-background: #f1f1f1; // Footer background


@mixin theme($mode) {
  @if $mode == "dark" {
    --primary-color: #{$dark-primary-color};
    --secondary-color: #{$dark-secondary-color};
    --background-color: #{$dark-background-color};
    --card-background-color: #{$dark-card-background-color};
    --text-color: #{$dark-text-color};
    --muted-text-color: #{$dark-muted-text-color};
    --border-color: #{$dark-border-color};
    --hover-color: #{$dark-hover-color};
    --link-color: #{$dark-link-color};
    --footer-background: #{$dark-footer-background};
  } @else if $mode == "light" {
    --dark-body: #{$dark-body-background};
    --primary-color: #{$light-primary-color};
    --secondary-color: #{$light-secondary-color};
    --background-color: #{$light-background-color};
    --card-background-color: #{$light-card-background-color};
    --text-color: #{$light-text-color};
    --muted-text-color: #{$light-muted-text-color};
    --border-color: #{$light-border-color};
    --hover-color: #{$light-hover-color};
    --link-color: #{$light-link-color};
    --footer-background: #{$light-footer-background};
  }
}
